<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<!-- default_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">

    <div class="gray-bg">
        <div class="auto">
            <div class="login-wrap">
                <h4>비밀번호 변경</h4>

                <div class="text-wrap">
                    <input type="password" placeholder="현재 비밀번호" id="originalPassword">
                </div>

                <!--불일치일 때, discp-wrap  // 일치일때, accord-wrap-->

                <div id="pw-wrap" class="text-wrap discp-wrap">
                    <input type="password" placeholder="비밀번호(특수문자, 영문, 숫자 포함 8자 이상)" id="newPassword">
                </div>

                <div id="pw-wrap2" class="text-wrap discp-wrap">
                    <input type="password" placeholder="비밀번호 확인" id="confirmPassword">
                    <p id="noMatch" class="infoText d-none">불일치 : 비밀번호를 다시 입력해주세요.</p>
                </div>


                <a class="comm-btn login-btn yellow-btn cupoint" onclick="updatePassword();">비밀번호 변경</a>


                <div class="findId-btn-wrap">
                    <a href="/" class="login-btn comm-btn white-btn">메인</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        let pwForm = false;
        let pwConfirm = false;

        function updatePassword() {

            if(pwForm==false) {
                toastModal("비밀번호 양식을 확인해주세요");
                $("#newPassword").focus();
                return;
            }
            if(pwConfirm==false) {
                toastModal("비밀번호를 확인해주세요");
                $("#confirmPassword").focus();
                return;
            }
            let originalPassword = $("#originalPassword").val();
            let password = $("#newPassword").val();

            $.ajax({
                type:"post",
                url:"/api/user/reset-pw",
                contentType:"application/json",
                data:JSON.stringify({
                    "originalPassword":originalPassword,
                    "password":password
                }),
                success:function(){
                    toastModal("비밀번호가 변경되었습니다. 다시 로그인 해주세요.");
                    setTimeout(() => location.href="/login", 1000);
                },
                error:function(request, status, error) {
                    toastModal("현재 비밀번호를 확인해주세요");
                    $("#originalPassword").focus();
                    return
                }
            });
        }

        // 비밀번호 유효성 체크
        $("#newPassword").on("keyup", function(){
            let password = $("#newPassword").val();
            let confirmPassword = $("#confirmPassword").val();
            if(password != "") {
                if(chkSpecial(password) && chkEng(password) && chkNum(password) && chklength(password)) {
                    pwForm = true;
                    $("#pw-wrap").addClass("accord-wrap")
                    $("#pw-wrap").removeClass("discp-wrap");
                }else {
                    pwForm = false;
                    $("#pw-wrap").removeClass("accord-wrap")
                    $("#pw-wrap").addClass("discp-wrap");
                }

                if(password == confirmPassword) {
                    pwConfirm = true;
                    $("#pw-wrap2").addClass("accord-wrap")
                    $("#pw-wrap2").removeClass("discp-wrap");
                    $("#noMatch").addClass("d-none");
                }else {
                    pwConfirm = false;
                    $("#pw-wrap2").removeClass("accord-wrap")
                    $("#pw-wrap2").addClass("discp-wrap");
                    if(confirmPassword==""){
                        $("#noMatch").addClass("d-none");
                    }else {
                        $("#noMatch").removeClass("d-none");
                    }

                }
            }else {
                pwForm = false;
                $("#pw-wrap").removeClass("accord-wrap")
                $("#pw-wrap").addClass("discp-wrap");
                pwConfirm = false;
                $("#pw-wrap2").removeClass("accord-wrap")
                $("#pw-wrap2").addClass("discp-wrap");
                if(password=="" && confirmPassword!="") {
                    $("#noMatch").addClass("d-none");
                }
            }
        });

        // 비밀번호 확인
        $("#confirmPassword").on("keyup", function() {
            let password = $("#newPassword").val();
            let confirmPassword = $("#confirmPassword").val();
            if(confirmPassword!="") {
                if(password == confirmPassword) {
                    pwConfirm = true;
                    $("#pw-wrap2").addClass("accord-wrap")
                    $("#pw-wrap2").removeClass("discp-wrap");
                    $("#noMatch").addClass("d-none");
                }else {
                    pwConfirm = false;
                    $("#pw-wrap2").removeClass("accord-wrap")
                    $("#pw-wrap2").addClass("discp-wrap");
                    $("#noMatch").removeClass("d-none");
                }
            }else {
                pwConfirm = false;
                $("#pw-wrap2").removeClass("accord-wrap")
                $("#pw-wrap2").addClass("discp-wrap");
                $("#noMatch").addClass("d-none");
            }
        });

        // 특수 문자 체크
        function chkSpecial(str) {
            var special_pattern = (/[`~!@#$%^&*|\\\'\";:\/?]/gi);
            if (special_pattern.test(str) == true) {
                return true;
            } else {
                return false;
            }
        }

        // 숫자 체크
        function chkNum(str) {
            const regExp = /[0-9]/;
            if (regExp.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        // 영문 체크
        function chkEng(str) {
            const regExp = /[A-Za-z]/;
            if (regExp.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        // 글자 수 체크
        function chklength(str) {
            if(str.length>=8){
                return true;
            }
            else{
                return false;
            }
        }
    </script>

</div>
</html>