<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<!-- default_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">
    <div class="gray-bg">
        <div class="auto">
            <div class="login-wrap">
                <h4>비밀번호 찾기</h4>

                <div id="info-div">
                    <div class="text-wrap">
                        <input type="text" id="userId" placeholder="아이디(이메일)">
                    </div>
                    <div class="text-wrap">
                        <input type="text" id="name" placeholder="이름">
                    </div>
                    <div class="text-wrap">
                        <input type="text" id="email" placeholder="이메일">
                        <p class="infoText">입력하신 이메일 주소로 인증메일이 발송됩니다.</p>
                    </div>
                </div>

                <div id="result-div" class="d-none">
                    <h5 style="font-size: 18px;">입력하신 이메일 주소로 인증메일이 발송되었습니다.</h5>
                </div>

                <a id="btn-send" class="cupoint comm-btn login-btn yellow-btn" onclick="fnFindPw();">인증메일 발송</a>


                <div class="findId-btn-wrap">
                    <a href="/login" class="login-btn comm-btn white-btn">로그인</a>
                    <a href="/find-id" class="login-btn comm-btn white-btn">아이디 찾기</a>
                </div>
            </div>
        </div>
    </div>

    <!-- script START -->
    <script>
        let booleanEmail = false;

        $("#email").on("keyup", function(){
            booleanEmail = chkEmail($(this).val());
        });

        function fnFindPw() {
            let userId = $("#userId").val();
            let name= $("#name").val();
            let email = $("#email").val();

            if(userId==null || userId=="") {
                toastModal("아이디를 입력해주세요");
                $("#userId").focus();
                return;
            }
            if(name==null || name=="") {
                toastModal("이름을 입력해주세요");
                $("#name").focus();
                return;
            }
            if(email==null || email=="") {
                toastModal("이메일을 입력해주세요");
                $("#email").focus();
                return;
            }
            if(!booleanEmail) {
                toastModal("이메일 양식을 확인해주세요");
                $("#email").focus();
                return;
            }

            $.ajax({
                type:"post",
                url:"/api/auth/user/find-pw",
                contentType:"application/json",
                data:JSON.stringify({
                    "userId":userId,
                    "name":name,
                    "email":email
                }),
                success:function(data) {
                    $("#info-div").addClass("d-none");
                    $("#btn-send").addClass("d-none");
                    $("#result-div").removeClass("d-none");
                },
                error:function(request, status, error) {
                    toastModal("회원 정보를 찾을 수 없습니다.");
                    console.log(request.status + ' ' + error.statusText + ' ' + request.responseText);
                }
            });
        }

        // 이메일 주소 체크
        function chkEmail(str) {
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (filter.test(str)) {
                return true;
            } else {
                return false;
            }
        }
    </script>
    <!-- script END -->
</div>


</html>