<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<!-- default_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">

    <div class="gray-bg">
        <div class="auto">
            <div class="login-wrap">
                <h4>아이디 찾기</h4>

                <div id="info-div">
                    <div class="text-wrap">
                        <input type="text" id="name" placeholder="이름을 입력해주세요.">
                    </div>
                    <div class="text-wrap phone-wrap">
                        <select id="firstMobile">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="019">019</option>
                        </select>
                        <span>-</span>
                        <input type="text" id="secondMobile" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <span>-</span>
                        <input type="text" id="thirdMobile" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                </div>

                <div id="id-div" class="d-none">
                    <h5>회원님의 아이디는 <span id="userId" class="yellow"></span> 입니다.</h5>
                </div>



                <a id="btn-findId" class="cupoint comm-btn login-btn yellow-btn" onclick="fnFindId();">아이디 찾기</a>


                <div class="findId-btn-wrap">
                    <a href="/login" class="login-btn comm-btn white-btn">로그인</a>
                    <a href="/find-pw" class="login-btn comm-btn white-btn">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </div>


    <!-- script START -->
    <script>
        function fnFindId() {
            let name = $("#name").val();
            let firstMobile = $("#firstMobile").val()
            let secondMobile = $("#secondMobile").val();
            let thirdMobile = $("#thirdMobile").val();

            if(name==null || name=="") {
                toastModal("이름을 입력해주세요");
                $("#name").focus();
                return;
            }
            if(secondMobile==null || secondMobile=="") {
                toastModal("전화번호를 입력해주세요");
                $("#secondMobile").focus();
                return;
            }
            if(thirdMobile==null || thirdMobile=="") {
                toastModal("전화번호를 입력해주세요");
                $("#thirdMobile").focus();
                return;
            }
            let mobile = firstMobile+"-"+secondMobile+"-"+thirdMobile;

            $.ajax({
                type:"post",
                url:"/api/auth/user/find-id",
                contentType:"application/json",
                data: JSON.stringify({
                    "name":name,
                    "mobile":mobile
                }),
                success:function(data) {
                    $("#info-div").addClass("d-none");
                    $("#btn-findId").addClass("d-none");
                    $("#id-div").removeClass("d-none");
                    $("#userId").text(data.userId);
                },
                error:function(request, status, error) {
                    toastModal("회원 정보를 찾을 수 없습니다.");
                    // console.log(request.status + ' ' + error.statusText + ' ' + request.responseText);
                }
            });

        }
    </script>
    <!-- script END -->
</div>


</html>