<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<!-- default_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">
    <div class="auto greetingWrap">
        <div class="subP-title">
            <p class="title">인사말씀</p>
            <ul class="menuPath">
                <li><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="#">인사말씀</a></li>
            </ul>
        </div>

        <div class="greetingBox">
            <div class="img"><img src="../images/greetingImg.jpg" alt="천인방 인사말씀"></div>
            <div class="greetingTxt">
                <div class="titleWrap">
                    <p class="tit">회원 여러분 안녕하십니까?</p>
                    <p class="intro">공유경제공동체 "천인방"을 찾아주신 모든분들께 진심으로 환영과 감사인사 드립니다.</p>
                    <p class="brown intro">천인방은 1천명의 인맥을 형성하고 더 나은 미래를 함께 만들고자 출범한 "공유경제 공동체"입니다.</p>
                </div>
                <div class="textWrap">
                    <div class="text">

                        <p>천인방은 안정적 재정확보를 위해 자산 증식용 자동화 시스템을 개발하여 이를 토대로 영구적인 수익 원천을 마련하고 회원 상호간의 협력과 교류와 호혜상조를 통한 지원(나눔)이라는 두 가지의 방향성을 큰 로드맵으로 운영방안을 잡고 있습니다.</p>

                        <p>천인방은 공유소득 배분과 호혜상조 이 두가지가 운영의 원동력으로 중요한 역활을 하도록 제도화 되어 있기에 새로운 기법의 경제 공동체가 탄생하면서 기존의 자산증식의 소득적 패러다임을 대체하고 배분의 선순환을 통해 가계경제 기본 소득의 도약을 하는 계기가 되는 것입니다.</p>

                        <p>기존에 노동력으로 소득활동이 이어져 왔다면 미래 소득은 공동체를 통해서 잠을 자는 동안에도 얻게되는 꾸준한 수익적 활동이 주를 이루는 형태로 변해가는 진화적 과정에 놓이게 되며 미래의 닥칠 수 있는 위기의 극복과 삶의 생존전략 차원에서도 공유경제 공동체 천인방 설립은 안정된 삶을 영위하기 위한 지혜를 모으고자 하는 취지의 의미에도 크게 기여합니다.</p>

                        <p>천인방은 회원 상호간의 교류와 호혜상조의 협력으로 1천명의 인맥을 하나로 연결하고 해외선물자동매매시스템을 통해 꾸준히 수익확보와 배당의 지속성을 통해 모든 회원이 부의 계층적 사다리와 연결되도록 견인하는 역활을 하고자 합니다.</p>

                    </div>
                    <div class="text">
                        <p>천인방 멤버가 되면 든든한 1천명의 경제적 인맥을 얻게 되고 어려움이 닥치면 1천명의 지원의 손길을 잡을 수 있는 진정한 가족이 되며 공동체의 공유소득 배분으로 가계경제가 향상되는 기회가 됩니다.</p>

                        <p><span class="bold black">살아가면서 경제적 어려움을 피할수 있도록 예비하고 싶다면 천인방 가족이 되십시오.</span><br> 천인방 가족이 되시면 소득배분과 긴급한 어려운 문제를 십시일반 적극 지원합니다.</p>

                        <p>규모의 경제공동체 운영을 통해 1인당 자산 10억이 1차 목표이며 성숙 단계에 들어서면 안정적인 부의 계층적 사다리를 연결해서 권속이라면 누구나 요람에서 무덤까지 안정된 삶이 가능하도록 한가족 공동체를 조성해 나가는 것이 천인방 설립목적입니다.</p>

                        <p>감사합니다.</p>

                        <p class="ceo">공유경제공동체 천인방 대표 <span class="name">박진호</span></p>


                    </div>
                </div>

            </div>
        </div>






    </div>


    <script>
    </script>
</div>
</html>