<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout_user}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<!-- default_layout_user.html 에 정의한 main page 부분 -->
<div layout:fragment="content">

    <div class="mainWrap">
        <div class="auto main-auto sec1-wrap">
            <div class="titleWrap1">
                <h4 class="title">“천인방”멤버가 되면<br>일천명의 인맥을 얻게됩니다</h4>
                <p class="text">천인방은 공동체의 구심점이 되어 교류와 호혜상조의 협력으로 1천명의 인맥을 하나로 연결하고<br>
                    시스템을 통해 <span class="brown">꾸준히 수익확보와 배당의 지속성으로 모든 권속이 부의 계층적 사다리와 연결</span>되도록 견인하는 것이 운영목적입니다.
                </p>
            </div>
            <ul class="chart">
                <li>
                    <p class="title">가족중심 운영원리</p>
                    <p class="text">1천명의 인맥을 통해 협력의 힘을 모아 미래경제를 함께 도모</p>
                </li>
                <li class="dot"></li>
                <li>
                    <p class="title">1천명 부자양성</p>
                    <p class="text">재정 시스템 운영 및 상호협력 지원을 통한 부자양성</p>
                </li>
                <li class="dot"></li>
                <li>
                    <p class="title">1인 1업 및 직업 활성화 지원</p>
                    <p class="text">회원운영 업체 천인방 연결<br>매출 우선 활성화 전폭지원</p>
                </li>
            </ul>


        </div>

        <div class="gray-bg sec2-wrap">
            <div class="auto main-auto">
                <div class="titleWrap2">
                    <p class="title">공유경제 공동체 천인방 가입 시 <span class="brown">장점</span></p>
                    <p class="text">가족화된 1천명의 인맥연대와 공유경제 소득 배당으로 <span class="brown">경제적 삶의 질 향상</span></p>
                </div>


                <div class="chart pc-wrap">
                    <div class="centerWrap">
                        <ul class="centerTitle">
                            <li>
                                <p class="tit">천인방 목적</p>
                                <p class="txt">1천명 가족적 인맥연결</p>
                            </li>
                            <li>
                                <p class="tit">공유경제 공동체</p>
                                <p class="txt">공유경제 개인소득창출</p>
                            </li>
                        </ul>


                        <ul class="list">
                            <li class="top left">
                                <p class="tit">사회.생활경제 가치 향상</p>
                                <p class="txt">수익배분 및 공유 공동체 공동구매</p>
                            </li>
                            <li class="bottom left">
                                <p class="tit">공동체수익 공유. 배당</p>
                                <p class="txt">경제에 대한 미래가 안정적 비젼으로 질적 향상 진행형</p>
                            </li>
                            <li class="top right">
                                <p class="tit">회원가입</p>
                                <p class="txt">다양한 제휴업무 소득증대 연결화</p>
                            </li>
                            <li class="bottom right">
                                <p class="tit">1천명 인맥형성</p>
                                <p class="txt">공유경제 소득증대 1,000명 인맥(원팀)연결<br>1인자산10억/총1조 목표</p>
                            </li>
                        </ul>

                        <span class="arrow a-left"><i class="fa-solid fa-caret-up"></i></span>
                        <span class="arrow a-bottom"><i class="fa-solid fa-caret-left"></i></span>
                        <span class="arrow a-right"><i class="fa-solid fa-caret-down"></i></span>
                    </div>

                </div>
                <div class="chart m-wrap">
                    <div class="listWrap">
                        <div class="titleWrap">
                            <p class="tit">천인방 목적</p>
                            <p class="txt">1천명 가족적 인맥연결</p>
                        </div>

                        <ul class="chartList">
                            <li>
                                <p class="tit">사회.생활경제 가치 향상</p>
                                <p class="txt">수익배분 및 공유 공동체 공동구매</p>
                            </li>
                            <li class="arrow top">
                                <p class="tit">공동체수익 공유. 배당</p>
                                <p class="txt">경제에 대한 미래가 안정적 비젼으로 질적 향상 진행형</p>
                            </li>
                        </ul>
                    </div>
                    <div class="listWrap">
                        <div class="titleWrap">
                            <p class="tit">공유경제 공동체</p>
                            <p class="txt">공유경제 개인소득창출</p>
                        </div>

                        <ul class="chartList">
                            <li class="arrow bottom">
                                <p class="tit">회원가입</p>
                                <p class="txt">다양한 제휴업무 소득증대 연결화</p>
                            </li>
                            <li class="arrow left">
                                <p class="tit">1천명 인맥형성</p>
                                <p class="txt">공유경제 소득증대 1,000명 인맥(원팀)연결<br>1인자산10억/총1조 목표</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>


        <div class="sec3-wrap">
            <div class="auto main-auto">
                <div class="titleWrap2">
                    <p class="title">한가족 공동체 천인방 <span class="brown">활동영역</span></p>
                </div>
                <div class="listWrap pc-wrap">
                    <ul>
                        <li class="type1">상조품앗이</li>
                        <li class="type2">인맥지원</li>
                        <li class="type2">금전대출</li>
                        <li class="type2">공동구매</li>
                    </ul>
                    <ul>
                        <li class="type2">취업,사업 자금지원</li>
                        <li class="type3">가족구현</li>
                        <li class="type2">사업회원홍보지원</li>
                    </ul>
                    <ul>
                        <li class="type2">배당금지급</li>
                        <li class="type2">목돈마련자금지원</li>
                        <li class="type2">먹거리자급자족</li>
                        <li class="type1">두레 향약</li>
                    </ul>
                </div>

                <div class="listWrap m-wrap">
                    <ul>
                        <li class="type1">상조품앗이</li>
                        <li class="type2">인맥지원</li>
                    </ul>
                    <ul>
                        <li class="type2">금전대출</li>
                        <li class="type2">공동구매</li>
                    </ul>
                    <ul>
                        <li class="type2">취업,사업 자금지원</li>
                        <li class="type3">가족구현</li>
                        <li class="type2">사업회원홍보지원</li>
                    </ul>
                    <ul>
                        <li class="type2">배당금지급</li>
                        <li class="type2">목돈마련자금지원</li>
                    </ul>
                    <ul>
                        <li class="type2">먹거리자급자족</li>
                        <li class="type1">두레 향약</li>
                    </ul>
                </div>

                <ul class="list2Wrap">
                    <li>노후설비 주택마련</li>
                    <li>기초적 의식주 해결</li>
                    <li>무료 법률지원 활동</li>
                    <li>토종 먹거리 선확보</li>
                    <li>1인 1억 / 1조자산</li>
                    <li>순익 자산 배당 지원</li>
                    <li>최저 가공판장 운영</li>
                    <li>공제금고 4無대출</li>
                </ul>
            </div>

        </div>

        <div class="yellow-bg sec4-wrap">
            <div class="auto main-auto">
                <div class="titleWrap2">
                    <p class="title">메타시티1000 - <span class="brown">천인방 (한 가족 공동체)</span></p>
                </div>
                <div class="textBox">
                    <p class="title brown">일천명의 조용한 창조적 경제 혁명 시스템</p>
                    <ul class="list">
                        <li>1천명 인맥 연결과 부를 창조구현</li>
                        <li>상호협력 상생발전 공유자산 배분</li>
                        <li>부자양성 계층적 사다리 연결 프로젝트 진행</li>
                    </ul>
                </div>
                <p class="text">
                    한가족공동체 "천인방 "은 1천명으로 구성된 미래형 차세대 단체로 인맥적 경제 활동과 내부 수익등 경제적 이익을 공유하는 가족적 개념이 적용된 "공유경제 공동체"입니다.<br>
                    살아가면서 경제적 어려움을 피할수 있도록 예비하고 싶다면 천인방 가족이 되십시오. 권속이 되시면 긴급한 모든 경제적 문제를 인맥과 재정으로 공동체에서 적극 지원합니다.

                </p>
            </div>
        </div>

        <div class="gray-bg sec5-wrap">
            <div class="auto main-auto">
                <div class="titleWrap2">
                    <p class="title">천인방 주요 <span class="brown">추진업무</span></p>
                </div>
                <ul class="listWrap">
                    <li>
                        <p class="number">추진업무 01</p>
                        <p class="text">천인방 권속 승인시 1천만원 해당 천인방 포인트 지급, 현금환급 및 일상생활 사이버 사용가능</p>
                    </li>
                    <li>
                        <p class="number">추진업무 02</p>
                        <p class="text">권속으로 승인시 한가족 규정에 따른 모든 혜택 지원 및 사이버 공간내 소득 발생시스템 지원</p>
                    </li>
                    <li>
                        <p class="number">추진업무 03</p>
                        <p class="text">천인방 운영을 통해 얻는 순익, 전체 권속에게 균등배분 시스템 운영 및 배당금 지원 제도 운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 04</p>
                        <p class="text">천인방스토어 → 전국에서 저렴한 가격으로 할인해서 공급하는 공동구매 제도 및 쇼핑망 운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 05</p>
                        <p class="text">전국 회원업체 매출증진 위한 판매망 네트워크로 결집, 멤버 쉽 할인판매 사이버 공판장 운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 06</p>
                        <p class="text">주택마련과 영구적 노후생활비 확보 및 10억만들기 지원을 위한 바벨론 프로젝트 운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 07</p>
                        <p class="text">천인방 재정활용 회원창업비 지원 및 천인방 운영 사업 개인 참여로 자산증식 지원 제도운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 08</p>
                        <p class="text">천인방에서 운영할 수 있는 모든 수익활동 업무, 권속들과 함께 공동운영 및 수익 공유제도 운영</p>
                    </li>
                    <li>
                        <p class="number">추진업무 09</p>
                        <p class="text">천인방 공제금고 운영으로 권속들로 부터 필요한 각종 재정문제 해결 및 지원을 위한 금융업무</p>
                    </li>
                    <li>
                        <p class="number">추진업무 10</p>
                        <p class="text">두레,향약,상호부조를 통한 1천명의 인맥 연결을 원팀으로 구성시키는 일체의 사업 진행</p>
                    </li>
                    <li>
                        <p class="number">추진업무 11</p>
                        <p class="text">개인 신용불량 관계없이 누구나 금융권 사용 가능한 신용카드 1매씩 지급 및 카드대금 지원제도</p>
                    </li>
                    <li>
                        <p class="number">추진업무 12</p>
                        <p class="text">식량 및 과일등 먹거리 준비 위한 식품 관련 농어촌과 연계한 정기 구독서비스 시스템 지원업무</p>
                    </li>
                    <li>
                        <p class="number">추진업무 13</p>
                        <p class="text">각종 이벤트 통한 재정적 자금 전폭 활용 천인방 멤버들 가계경제 지원(추첨, 당첨등 이벤트지원)</p>
                    </li>
                    <li>
                        <p class="number">추진업무 14</p>
                        <p class="text">천인방공제금고 운영  무담보, 무보증, 무신용, 무이자의 조건없는 4無제도 급전대여 서비스</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="auto main-auto sec6-wrap">
            <div class="titleWrap1">
                <p class="title">“공유경제 공동체 천인방”<br>출범멤버 및 회원모집 안내</p>
                <p class="text">공유경제 공동체 천인방 출범 준비를 위한 <span class="brown">운영재정 확충과 출범멤버를 모집</span>합니다.</p>
            </div>
            <div class="recruitWrap">
                <div class="listWrap">
                    <div class="list list1">
                        <p class="title">공유경제 출범멤버모집</p>
                        <ul class="textWrap">
                            <li>
                                <p class="tit">신청마감일</p>
                                <p class="txt">2023년 02월 28일까지</p>
                            </li>
                            <li>
                                <p class="tit">회원가입비</p>
                                <p class="txt">300만원 (매월 배당금 지급)</p>
                            </li>
                            <li>
                                <p class="tit">후원금</p>
                                <p class="txt">최소 1레벨(100만원)이상 납부</p>
                            </li>
                            <li>
                                <p class="tit">가입자격</p>
                                <p class="txt">누구나 지원가능</p>
                            </li>
                        </ul>
                    </div>
                    <p class="textInfo">자세한 안내사항은 웹사이트 회원으로 가입 하시거나  아래의 버튼을 클릭하시면 보실 수 있습니다.</p>
                    <div class="btnWrap">
                        <a href="https://cafe.naver.com/metacity1000/16" class="comm-btn yellow-btn" target="_blank">출범멤버 가입신청 안내</a>
                    </div>

                </div>

                <div class="listWrap">
                    <div class="list list2">
                        <p class="title">천인방 가족(권속) 회원모집</p>
                        <div class="textBox">
                            <ul class="textWrap">
                                <li>
                                    <p class="tit">신청마감일</p>
                                    <p class="txt">2023년 12월 31일까지</p>
                                </li>
                                <li>
                                    <p class="tit">회원가입비</p>
                                    <p class="txt">100만원 1회납부</p>
                                </li>
                                <li>
                                    <p class="tit">월회비</p>
                                    <p class="txt">10만원 * 최대 60회한정</p>
                                </li>
                                <li>
                                    <p class="tit">가입신청</p>
                                    <p class="txt">누구나 지원가능</p>
                                </li>
                                <li>
                                    <p class="tit">모집인원</p>
                                    <p class="txt">1,000명 한정</p>
                                </li>
                            </ul>
                            <p class="info brown">※ 천인방멤버가입 미승인시 일체 환불됩니다.</p>
                        </div>
                    </div>
                    <p class="textInfo">자세한 안내사항은 웹사이트 회원으로 가입하시거나 아래의 주소를 클릭하시면 보실 수 있습니다.</p>
                    <div class="btnWrap">
                        <a href="https://cafe.naver.com/metacity1000" class="comm-btn brown-btn" target="_blank">천인방 회원 가입신청</a>
                    </div>

                </div>


            </div>
        </div>


        <div class="bannerWrap">
            <div class="pc-bannerImg">
                <img src="./images/mainBanner.jpg" alt="출범멤버 및 투자자 특별혜택 안내">
            </div>
            <div class="m-bannerImg">
                <img src="./images/m_mainBanner.jpg" alt="출범멤버 및 투자자 특별혜택 안내">
            </div>

            <div class="auto textWrap">
                <p class="title">출범멤버 및 투자자 <span class="brown">특별혜택</span></p>
                <ul class="list">
                    <li>
                        <p class="tit">후원멤버 특별혜택</p>
                        <p class="text">매월 순익 배당금 지급</p>
                    </li>
                    <li>
                        <p class="tit">투자자 특별혜택</p>
                        <p class="text">고정이자 및 배당금 지급</p>
                    </li>
                </ul>
                <p class="info brown">※ 월3% ~ 20% 정관의 규정에 따라 지급합니다.</p>
            </div>
        </div>


        <div class="auto main-auto sec7-wrap">
            <div class="titleWrap2">
                <p class="title">투자자금 빌려주실분</p>
            </div>
            <ul class="listWrap">
                <li>
                    <p class="number">01</p>
                    <p class="text">신청마감일 : 2023년 02월 28일까지</p>
                </li>
                <li>
                    <p class="number">02</p>
                    <p class="text">최소이자지급 : 월1.0%~3%(년12%~36%)</p>
                    <p class="info brown">(추가지급 : 운영순익 배당 별도)</p>
                </li>
                <li>
                    <p class="number">03</p>
                    <p class="text">대출모집금액 : 1,000만원이상 ~ 3억원</p>
                </li>
                <li>
                    <p class="number">04</p>
                    <p class="text">최대모집금액 : 5억원 한정(확보시마감)</p>
                </li>
                <li>
                    <p class="number">05</p>
                    <p class="text">특별계약 : 고정이자 및 순익금 배당</p>
                </li>
                <li>
                    <p class="number">06</p>
                    <p class="text">상환기간 : 계약기간 협의(6개월이상)</p>
                </li>
            </ul>
            <div class="callWrap">
                <i class="fa-solid fa-phone"></i>
                <p class="title">상담 및 문의전화</p>
                <p class="number">050-5425-1234</p>
            </div>
        </div>

        <div class="auto main-auto sec8-wrap">
            <div class="titleWrap2">
                <p class="title">자동매매시스템 싱글 개별 <span class="brown">사용안내 (회원전용)</span></p>
            </div>
            <div class="listWrap">
                <p class="text">1일 목표순익  30만원~90만원까지 조정가능</p>
                <p class="text">설치비 100만원  - 월 사용료 50만원~120만원</p>
            </div>
            <div class="btnWrap">
                <a href="https://cafe.naver.com/info1000/2679" target="_blank" class="comm-btn brown-btn">가격안내 자세히 보기</a>
            </div>
        </div>


        <div class="sec9-wrap">
            <div class="auto main-auto">
                <div class="titleWrap2">
                    <p class="title">입금계좌 안내</p>
                    <p class="text">회원은 계좌 내역 <span class="brown">실시간 확인 가능
                    </span>합니다.</p>
                </div>

                <div class="bankWrap">
                    <p class="title">천인방 공용 계좌번호 안내</p>
                    <img src="./images/bankImg.png" alt="카카오뱅크">
                    <p class="account">7979-22-03832</p>
                </div>
            </div>
        </div>



    </div>
</div>
</html>